###################################################################################################
#### This config file sets the environment properties in Elastic Beanstalk
####
###################################################################################################

option_settings:

  aws:elasticbeanstalk:application:environment:

    HEALTHCHECKER_DOCKER_CONTAINER_NAME: 'healthchecker'
    TMP_HEALTHCHECKER_DIR: 'healthchecker'

    #Possible values: local/dev/prod
    APP_ENV: 'dev'

    #Custom time zone to set in EC2 instance
    CUSTOM_TIMEZONE: 'America/New_York'

    APP_PORT: '1400'
    BASE_IMAGE: 'public.ecr.aws/docker/library/node:18.20.2-alpine3.19'
    DOCKER_USERNAME: 'healthcheckerappuser'
    DOCKER_USERNAME_PWD: 'healthcheckerapp'
    APP_RUN_OPTION: 'start:prod'

commands:
  01-createTempDir:
    command: |
      #Create healthchecker folder inside EC2 /tmp to let organise all temp healthchecker folders/files at one location
      mkdir -p /tmp/`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "TMP_HEALTHCHECKER_DIR"}}`
      chmod -R 777 /tmp/`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "TMP_HEALTHCHECKER_DIR"}}`
