###################################################################################################
#### This config file is used to customize & configure AWS resources.
####
#### 1. Add Ingress rule in AWSEBSecurityGroup
#### 2. Register EC2 Instance in Target Group
#### 3. 
#### 
#### 
###################################################################################################

option_settings:
  aws:elasticbeanstalk:customoption:
    IMDS_TOKEN_VALUE: '/tmp/healthchecker/imdsToken'

    Region: '`{ "Ref" : "AWS::Region" }`'
