<!doctype html>
<html>

<head>
    <title>Health Checker</title>
    <link rel="stylesheet" id="google-fonts-css"
        href="https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C700%2C700italic%2C900%2C900italic%7CRubik%3A300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C700%2C700italic%2C900%2C900italic&#038;ver=5.4.2"
        type="text/css" media="all" />
    <meta http-equiv="refresh" content="30" />
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../../public/custom.css" />
    <link rel="shortcut icon" type="image/x-icon" href="../../public/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <img src="https://publicweb-cdn.s3.us-east-2.amazonaws.com/maintenance/Logo.png" class="logo" alt="">
    <div class="container">

        <div class="block">
            <h3 style="text-align: center">Health Checker Application for identifying Health Status for all Services</h3>
        </div>

        <div class="tg-wrap">

            <table class="tg" style="table-layout: fixed; width: 635px">
                <colgroup>
                    <col style="min-width: 300px">
                    <col style="min-width: 335px">
                </colgroup>
                <thead>
                    <tr>
                        <th class="tg-serv" colspan="2">CMS Service</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tg-norm">Status</td>
                        <td class="tg-norm">Healthy</td>
                    </tr>
                    <tr>
                        <td class="tg-norm">Timestamp</td>
                        <td class="tg-norm"></td>
                    </tr>
                    <tr>
                        <td class="tg-err-1">Error</td>
                        <td class="tg-err-1">EROR Details</td>
                    </tr>
                    <tr>
                        <td class="tg-heal-name">Server Check</td>
                        <td class="tg-heal-value"><span style="font-style:italic">Healthy</span></td>
                    </tr>
                    <tr>
                        <td class="tg-norm">uptime</td>
                        <td class="tg-norm">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="tg-norm">sdfsdfsdf</td>
                        <td class="tg-norm">sdfsdfsdf</td>
                    </tr>
                    <tr>
                        <td class="tg-par-unheal-name">DB Check</td>
                        <td class="tg-par-unheal-value">Partialy UnHealthy</td>
                    </tr>
                    <tr>
                        <td class="tg-norm">sdfsdf</td>
                        <td class="tg-norm">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="tg-norm">sdfsd</td>
                        <td class="tg-norm">fsdfsdf</td>
                    </tr>
                    <tr>
                        <td class="tg-unheal-name">Memory Check</td>
                        <td class="tg-unheal-value">UnHealthy</td>
                    </tr>
                    <tr>
                        <td class="tg-norm">sdfsd</td>
                        <td class="tg-norm">fsdfsdf</td>
                    </tr>
                    <tr>
                        <td class="tg-norm">sdfsd</td>
                        <td class="tg-norm">fsdfsdf</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</body>




</html>